<form action="/landmarks" method="post">

  Name:

  <br></br>

  <input type="text" name="landmark[name]" id="landmark_name">

  <br></br>

  Year Completed:

  <br></br>

  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <br></br>

  <input type="submit" value="Create New Landmark">

</form>